.a4{
    width: 595px;
    height: 842px;
}
.template1{
    display: flex;

}
.template1 .container-A{
    width: 35%;
    height: 100%;
    background-color: #f46464;
}
.template1 .container-B{
    width: 65%;
    height: 100%;
    background-color: #fff;
}