.a4{
    width: 595px;
    height: 842px;
}

.template .normal-text,
.template .normal-paragraph{
    font-size: 10px;
    font-family: inherit;
    font-weight: 400;
    margin-bottom: 5px;
    fill: #808080;
    display: block;
}
.template .normal-paragraph{
    font-size: 12px;
}
.template h1{
    font-size: 25px;
    line-height: 28px;
}
.template .subtitle h2{
    font-size: 14px;
    line-height: 19px;
    color: var(--color);
}
.template  h1, .template  h2{
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.template .mb-5{
    margin-bottom: 5px !important;
}
.template .skill-list{
    margin-left: 18px;
    font-size: 12px;
    font-family: 'Merriweather';
    font-weight: 400;
    fill: #fff;
    text-transform: capitalize;
}

.template i{
    margin-right: 6px;
    color: inherit;
}