.main-container{
    background-color: #002b34 !important;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}
.main-container *{
    font-family: inherit;
}

/* custuming text  */
.main-container h2{
    font-size: 15px !important;
}
.main-container p,
.main-container h2,
.main-container li{
    color: #fff !important;
    margin: 0;
    font-family: inherit;
}
.main-container .normal-title{
    display: inline;
    margin-bottom: 0;
    margin-left: 2px;
}
.main-container .normal-text{
    margin-bottom: 4px;
}
.main-container .profesion-summery .normal-paragraph{
    margin-left: 0;
}
.main-container .normal-paragraph{
    margin-left: 20px;
}
.main-container .information-header{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.main-container p{
    font-size: 10px;
    font-weight: 200;
    margin-left: 2px;
}
.main-container .social-networks h2{
    font-size: 12px!important;
}

/* end  custuming text  */ 
.main-container .contact .image-container{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.411);
    width: 170px;
    height: 170px;
    display: flex;
    margin-left: -35px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    overflow: hidden;
    z-index: 1000;
}

.main-container .contact img{
    width: 165px;
    height: 165px;
    z-index: 100;
    transform: rotate(-45deg);
}
.main-container .image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 10px solid;
    width: 140px;
    height: 140px;
    border-radius: 25px;
    transform: rotate(45deg);
    background: transparent;
    left: 19px;
    top: 40px;
    z-index: 101;
    overflow: hidden;
}
.main-container .info-container{
    position: relative;
    margin: 0 30px;
    padding-left: 185px;
    min-height: 150px;
}
.main-container .contact{
    min-height: 250px;
}

.main-container .info-container::after{
    content: '';
    width: 380px;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    left: 160px;
    bottom: -10px;
    margin-bottom: 15px;

}
.main-container .info-container .info-section{
    max-width: 350px;
}
.main-container .info-section .contact-name{
    font-size: 17px;
    margin-top: 30px;
}
.main-container .info-section .contact-name,
.main-container .info-section .contact-info{
    width: 50%;
}
.main-container .info-container .section{
    margin-top: 30px;
    padding-bottom: 10px;
    margin-left: 10px;
}
.main-container .column{
    position: absolute;
    width: 100px;
    height: 100%;
    background-color: var(--backgroundColor);
    opacity: 0.9;
    z-index: 10;
    left: 40px;
    padding: 20px 0;
    overflow: hidden;
}
.main-container .info-container .contact-information{
    padding-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.main-container .contact-information .contact-name{
    padding-right:15px ;
}
.main-container .profesion-summery{
    padding-bottom: 20px;
}
.main-container .section-label{
    background-color: var(--backgroundColor);
    position: absolute;
    left: 22px;
    width: 160px;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 10px;
    border-top-right-radius: 50px;
    z-index: 100
}
.main-container .skills .section-label h2{
    padding-left: 20px;
}
.main-container .section-label::after{
    content: " ";
    position: absolute;
    top: -14px;
    left: 6%;
    margin-left: -11px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #97979788 #8b8b8b88 transparent;
    transform: scaleY(0.4) scaleX(.95);
}
.main-container .section-label::before{
    content: " ";
    position: absolute;
    bottom: -17px;
    left: 44%;
    margin-left: -12px;
    border-width: 10px;
    border-style: solid;
    border-color: #97979788 #8b8b8b88 transparent transparent;
    transform: scaleY(0.7) scaleX(5);
}
