.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-container{
    width: max-content;
    margin: 0 20px;
    background-color: rgba(255, 255, 255, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-main img{
    width: 300px;
    margin-bottom: 50px;
    margin-top: -100px;
}
.about-container span{
    text-align: left;
    font-weight: 700;
    width: 100%;
    color: #45505b;
    justify-self: start!important;
}
.about-container h1{
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
}
.about-container .contact-me{
    margin-top: 30px;
    margin-top: 30px;
    width: 300px;
    justify-content: space-between;
    display: flex;
}
.about-container .contact-me a{
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    transition: 0.3s;
}
.about-container .contact-me a:hover{
    color: var(--color);
}

@media(max-width:768px){
    .logo-main img{
        width: 150px;
        margin-bottom: 50px;
        margin-top: -100px;
        animation-name: right-to-left;
        animation-duration: .3s;
    }

}