.getting-started .container {
    margin-left: 20px;
    padding: 0 30px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.getting-started .container .template-tools h2{
    margin-bottom: 10px;
}
.getting-started .container .template-tools{
    margin-bottom: 30px;
    animation-name: right-to-left;
    animation-duration: .9s;
    max-width: 400px;
}
.getting-started .container .template-slider{
    animation-name: left-to-right;
    animation-duration: .9s;
    flex-direction: row-reverse;
}
.color-box {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.btn-select-template {
    background: #00c293;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    padding: 12px 15px;
    border: none;
    outline: none;
    justify-self: center;
    text-align: center;
}

.btn-select-template:hover {
    background-color: #059470;
}

.color-box p {
    margin-top: 20px;
}

.getting-started .page-preview {
    margin-top: -65px;
    box-shadow: 1px 1px 46px 10px rgb(0 0 0 / 25%);
    transform: scale(.84);
}

.template-slider {
    position: relative;
}

.template-slider button {
    position: absolute;
    background-color: #fff;
    color: #000;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 6px 1px rgba(114, 114, 114, 0.479);
    z-index: 100;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.template-slider .btn-left {
    top: 45%;
    left: 24px
}

.template-slider .btn-right {
    top: 45%;
    right: 24px;
}

@media(max-width:768px){
    .getting-started .template-slider{
        transform:scale(.5);
        margin-top: -100px;
    }
}

