.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #dcdcdc;
    margin-top: 20px;
    border-radius: 15px;
    min-height: 80vh;
}

.intro {
    margin-top: 50px;
    max-width: 700px;
    padding-bottom: 85px;

}

.intro h2 {
    color: #fff;
    font-size: 45px;
    margin: -5px 0;
    TEXT-SHADOW: 0px 2px 2px #000;
}

.intro h3 {
    font-weight: 900;
    font-size: 25px;
    color: #000;
}

.intro h1 {
    font-size: 95px;
    font-weight: 900;
    color: var(--main_color);
    margin: 20px 0;
    letter-spacing: 5px;
    line-height: 80px;
    TEXT-SHADOW: 5px 1px 5px #000;
}

.intro button {
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: var(--main_color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.intro button:hover {
    background-color: #ffffff;
    color: var(--main_color);
}


@media(max-width:576px){
    .intro button {
        padding: 8px 15px;
        font-size: 14px;
    }
    .intro h2 {
        font-size: 25px;
    }
    
    .intro h3 {
        font-size: 20px;
    }
    .intro h1 {
        font-size: 40px;
        margin:0;
        letter-spacing: 2px;
        line-height: 70px;
        TEXT-SHADOW: 5px 1px 5px #000;
    }
    .popular-templates .temp-item .template {
        position: absolute;
        transform: scale(.25);
        top: -275px;
        left: -210px;
    }
}
@media (max-width: 768px) {
    .popular-templates .temp-item {
        flex:1 1;
        min-width: 250px;
    }
}