.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #dcdcdc;
    margin-top: 20px;
    border-radius: 15px;
    min-height: 80vh;
}

.intro {
    font-family: Nexa;
    margin-top: 50px;
    max-width: 700px;
    padding-bottom: 85px;

}

.intro h2 {
    color: #fff;
    font-size: 45px;
    margin: -5px 0;
    TEXT-SHADOW: 0px 2px 2px #000;
}

.intro h3 {
    font-weight: 900;
    font-size: 25px;
    color: #000;
}

.intro h1 {
    font-size: 95px;
    font-weight: 900;
    color: #8cc63e;
    margin: 20px 0;
    letter-spacing: 5px;
    line-height: 80px;
    TEXT-SHADOW: 5px 1px 5px #000;
}

.intro button {
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #8cc63e;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.intro button:hover {
    background-color: #ffffff;
    color: #8cc63e;
}

.popular-templates {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-templates .temp-item {
    position: relative;
    border-radius: 15px;
    min-width: 340px;
    height: 290px;
    margin: 10px 5px;
    background: #ddd;
    transition: transform .3s, box-shadow .3s;
}
.popular-templates .temp-item:hover {
    box-shadow: 0px 0px 8px 4px #9b9b9b;
    transform: scale(1.03);
}
.temp-item .template{
    box-shadow: 1px 1px 20px 10px #000;
}
.temp-item .template4 {
    padding-top: 0px;
}

.popular-templates .temp-item .template {
    position: absolute;
    transform: scale(.3);
    top: -275px;
    left: -190px;
}
.xlarg{
    width: 40% !important;
}
.details{
    position: absolute;
    right: 20px;
    bottom: 50px;
    text-align: right;
}
.details h2{
    margin-bottom: 50px;
    color: #fff;
    font-weight: 900;
    width: 110px;
    word-break: break-word;
    text-shadow: 0px 2px 5px #000;
}
.browse-btn {
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
    padding: 8px 15px;
    background-color: #fff;
    color: var(--color);
    transition: background-color 0.3s , color 0.3s;

}
.browse-btn:hover{
    background-color: transparent;
    color: #fff;
    box-shadow: 1px 1px 10px 5px #000;
}


@media(max-width:576px){
    .intro button {
        padding: 8px 15px;
        font-size: 14px;
    }
    .intro h2 {
        font-size: 25px;
    }
    
    .intro h3 {
        font-size: 20px;
    }
    .intro h1 {
        font-size: 40px;
        margin:0;
        letter-spacing: 2px;
        line-height: 70px;
        TEXT-SHADOW: 5px 1px 5px #000;
    }
    .popular-templates .temp-item .template {
        position: absolute;
        transform: scale(.25);
        top: -275px;
        left: -210px;
    }
}
@media (max-width: 768px) {
    .popular-templates .temp-item {
        flex:1 1;
        min-width: 250px;
    }
}