.popular-templates {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-templates .temp-item {
    position: relative;
    border-radius: 25px;
    min-width: 340px;
    height: 290px;
    margin: 10px 5px;
    background: #ddd;
    transition: transform .3s, box-shadow .3s;
}
.popular-templates .temp-item:hover {
    box-shadow: 0px 0px 8px 4px #9b9b9b;
    transform: scale(1.03);
}
.temp-item .template{
    box-shadow: 1px 1px 20px 10px #000;
}
.temp-item .template4 {
    padding-top: 0px;
}

.popular-templates .temp-item .template {
    position: absolute;
    transform: scale(.3);
    top: -275px;
    left: -190px;
}
.xlarg{
    width: 40% !important;
}
.details{
    position: absolute;
    right: 20px;
    bottom: 50px;
    text-align: right;
}
.details h2{
    margin-bottom: 50px;
    color: #fff;
    font-weight: 900;
    width: 110px;
    word-break: break-word;
    text-shadow: 0px 2px 5px #000;
}
.browse-btn {
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
    padding: 8px 15px;
    background-color: #fff;
    color: var(--color);
    transition: background-color 0.3s , color 0.3s;

}
.browse-btn:hover{
    background-color: transparent;
    color: #fff;
    box-shadow: 1px 1px 10px 5px #000;
}


@media(max-width:576px){
    .popular-templates .temp-item .template {
        position: absolute;
        transform: scale(.25);
        top: -275px;
        left: -210px;
    }
}
@media (max-width: 768px) {
    .popular-templates .temp-item {
        flex:1 1;
        min-width: 250px;
    }
}