.animation{
    animation-name: buildToolsEntering;
    animation-duration: 1s;
}
.input-group{
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    color: #333;
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.multi-input{
    margin-left: 10px;
} 
.min-width{
    min-width: 65%;
}
.half-width{
    width:50%;
}
.common-input-style input[type=text],
.common-input-style input[type=email],
.common-input-style input[type=date]{
    height: 40px;
    width: 100%;
    display: block;
    font-size: 15px;
    font-family: "Source Sans Pro",Arial,sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #ccc;
    color: #333;
    outline: none;
}
.common-input-style select{
    height: 40px;
    width: 100%;
    display: block;
    font-size: 15px;
    font-family: "Source Sans Pro",Arial,sans-serif;
    border-radius: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #ccc;
    color: #333;
    outline: none;
}
.common-input-style textarea{
    height: 320px;
    width: 100%;
    display: block;
    font-size: 15px;
    font-family: "Source Sans Pro",Arial,sans-serif;
    border-radius: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #ccc;
    color: #333;
    outline: none;
}
.common-input-style  h1+p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px; 
    
}
.common-input-style h1{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
    font-weight: 700;
}
.common-input-style label{
    display: inline-block;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 15px;
}
.common-input-style input:focus{
    border-color: #3aac5d;
}
.input-check{
    display: flex;
    align-items: center;
}
.input-check input{
    width: 16px;
    height: 16px;
    color: #000;
    margin-right: 5px;
}
.input-check input:checked{
    background-color:#3aac5d;
}
.common-input-style .text-area{
    resize: none;
    border:1px solid #3aac5d;

}
 .position-relative{
     position: relative;
 }
 .deactive{
    position: absolute;
    width: 100%;
    top: 22px;
    left: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba(116, 113, 113, 0.411);
 }


/* info  */
.info h2{
    line-height: 38px;
    font-size: 18px;
}
.info h1{
    font-size: 36px;
    margin-bottom: 33px;
    line-height: 38px;
}
.info .tips-list{
    counter-reset: section;
    margin: 0 0 60px;
    list-style: none;
}
.info .tips-list .tips-item{
    position: relative;
    font-size: 18px;
    margin-bottom: 18px;
    padding-left: 50px;
}
.tips-item:before {
    height: 30px;
    width: 30px;
    display: inline-block;
    content: "";
    border-radius: 50%;
    background-color: #3aac5d;
    vertical-align: middle;
    position: absolute;
    left: 0;
}
.tips-item:after {
    position: absolute;
    top: 5px;
    left: 3px;
    height: 30px;
    width: 30px;
    counter-increment: section;
    content: counter(section);
    border-radius: 50%;
    background-color: #498fcd;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 29px;
}

/* review component */
.build-tool-review-button{
    cursor: pointer;
    height: 40px;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    line-height: 0;
    text-transform: capitalize;
    background: #fff;
    color: #8cc63e;
    border: 3px solid #8cc63e;
    padding: 12px 15px;
    font-weight: 700;
}
.build-tool-review-button:hover{
    color: #74a534;
    border: 3px solid #74a534;
}
.build-tool-history{
    border-top: 1px solid #ddd;;
}
.review{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.build-tool-history h2{
    font-size: 20px;
    font-weight: 700;
    color: #000;
}
.review-buttons{
    position: absolute;
    right: 0;
    top: 2px;
    display: flex;

}
.review-buttons span{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #000;
    display: flex;
    border: 1px solid #ddd;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 2px;
}
.review-buttons span:hover{
    background-color: #8cc63e;
}

/* entering animation */
@keyframes buildToolsEntering{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}