.download-resume {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #edf1f3;
    min-height: 100vh;
    flex-grow: 100;
}
/* edit panel */
.download-resume .edit-panel{
    padding: 20px;
    margin: 0 30px;
    margin-top: 30px;
    height: 100%;
    min-width: 200px;
    background-color: #fff;
    text-align: center;

}
.edit-menu{
    visibility: hidden;
    position: absolute;
    top: 130px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #00c293;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
}
.edit-panel .button-container button{
    min-width: 140px;
    min-height: 40px;
    margin: 0 10px 10px 10px;
    cursor: pointer;
    background-color: #05daa4;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 10px 15px;

}
.edit-panel .button-container button:hover{
    background-color: #00c293;
}



/* styling panel */

.download-resume .style-panel {
    margin:0 30px;
    margin-top: 30px;
    min-width: 210px;
}

.download-resume .document-preview {
    margin:0 auto;
    margin-top: 30px;
    box-shadow: 1px 1px 46px 10px rgba(0, 0, 0, 0.25);
    height: min-content;  
}

.download-resume .change-template {
    text-align: center;
    padding: 20px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #fff;
    animation-name: top-bottom-animate;
    animation-duration: .9s;
    animation-delay: .1s;
}

.download-resume .choose-template {
    background: #00c293;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    padding: 12px 15px;
    border: none;
    outline: none;
    justify-self: center;
    text-align: center;
    border-radius: 3px;
    width: 100%;
}

.choose-template:hover {
    background-color: #059470;
}

.download-resume .styling-component {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 5px 20px;

}
.download-resume .color-component{
    animation-name: right-to-left;
    animation-duration: .9s;
}
.download-resume .font-component{
    animation-name: bottom-top-animate;
    animation-duration: .9s;
}

/* templatess container */
.style-panel .change-templates-container {
    height: 100%;
    position: fixed;
    right: 0;
    width: 500px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    transform: translateX(200vh);
    transition: transform 0.4s ease-out;
    z-index: 1000;
}

.style-panel .change-templates-container .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.change-templates-container .header h3{
    margin-top: 5px;
}

.change-templates-container .header span {
    cursor: pointer;
    color: #000;
    font-size: 25px;
    font-weight: 900;
}
.change-templates-container .header span:hover{
    color: red;
}
.change-templates-container .template-container{
    
}

.change-templates-container .templates-gallery{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.change-templates-container .template-container .templates-gallery .template-item{
    cursor: pointer;
    position: relative;
    width: 220px;
    height: 275px;
    background-color: #ddd;
    margin: 10px;
}
.change-templates-container .template-container .templates-gallery .template-item:hover{
    background-color: #00c293;
}
.change-templates-container .templates-gallery .template-item .template {
    position: absolute;
    transform: scale(.3);
    top: -285px;
    left: -187px;
    
}

/* responsive */

@media(max-width: 768px){
    .download-resume{
        flex-direction: column;
    }
    .download-resume .style-panel .panel-container div{
        margin: auto;
    }
}
