@font-face {
  font-family: 'AlegreyaSans';
  src: url('./assets/fonts/AlegreyaSans-Regular.ttf');
  src: url('./assets/fonts/AlegreyaSans-Bold.ttf');
}
@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-Regular-webfont.woff');
}
@font-face {
  font-family: 'Dosis';
  src: url('./assets/fonts/Dosis-Medium.ttf');
}
@font-face {
  font-family: 'Titillium';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf');
  src: url('./assets/fonts/TitilliumWeb-SemiBold.ttf');
}
@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf');
  src: url('./assets/fonts/helvetica_neue_ce_55_roman-webfont.woff');
}
@font-face {
  font-family: 'Nexa';
  src: url('./assets/fonts/NexaTextDemo-Light.woff');
  src: url('./assets/fonts/NexaTextDemo-Bold.woff');
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
}
 