@font-face {
  font-family: 'AlegreyaSans';
  src: url('./assets/fonts/AlegreyaSans-Regular.ttf');
  src: url('./assets/fonts/AlegreyaSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-Regular-webfont.woff');
}

@font-face {
  font-family: 'Dosis';
  src: url('./assets/fonts/Dosis-Medium.ttf');
}

@font-face {
  font-family: 'Titillium';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf');
  src: url('./assets/fonts/TitilliumWeb-SemiBold.ttf');
}

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf');
  src: url('./assets/fonts/helvetica_neue_ce_55_roman-webfont.woff');
}

@font-face {
  font-family: 'Nexa';
  src: url('./assets/fonts/NexaTextDemo-Light.woff');
  src: url('./assets/fonts/NexaTextDemo-Bold.woff');
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'OpenSans';
  scroll-behavior: smooth;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
*::-webkit-scrollbar {
  visibility: hidden;
  width: 8px;
  height: 0;
}

*::-webkit-scrollbar-track {
  opacity: 0;
  background-color: transparent;
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  opacity: 0;
  border-radius: 10px;
  width: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
/* ==================
   == button hover ==
   ================== */

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover{
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.97);
}

.hvr-shadow-radial {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition: transform .3s;
}
.hvr-shadow-radial:before, .hvr-shadow-radial:after {
  pointer-events: none;
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.hvr-shadow-radial:before {
  bottom: 100%;
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.hvr-shadow-radial:after {
  top: 100%;
  background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.hvr-shadow-radial:hover:before, .hvr-shadow-radial:hover:after{
  opacity: 1;
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 2;
  animation-delay: .4;
}
/* ======================
   == end button hover ==
   ====================== */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*========= all the aniations ============= */
.fade-in {
  animation-name: fade-in;
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0.55, 0.01, 0.12, 0.97);
}
.bottom-to-top {
  animation-name: bottom-to-top;
  animation-duration: .8s;
  animation-timing-function: cubic-bezier(0.55, 0.01, 0.12, 0.97);
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes top-bottom-animate {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes bottom-top-animate {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes right-to-left {
  from {
    transform: translateX(100vh);
  }

  to {
    transform: translateX(0vh);
  }
}

@keyframes left-to-right {
  from {
    transform: translateX(-100vh);
  }

  to {
    transform: translateX(0vh);
  }
}

@keyframes scaleX-top-to-bottom {
  from {
    transform-origin: top;
    transform: scale(0);

  }
  to {
    transform-origin: top;
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes bottom-to-top {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0);
  }
}